.flash-message {
  display: block;
  margin: 2*$bmu 0 3*$bmu;
  padding: 2*$bmu 3*$bmu;
  border-radius: 4px;
  color: $cWhite500;
  background-color: $cHavelock400;

  &_success {
    background-color: $cCaribbean400;
  }

  &_error {
    background-color: $cCaprice400;
  }

  &__text {
    font-size: 14px;
  }
}
