.tooltip {
  position: relative;

  &::after {
    position: absolute;
    z-index: 800;
    top: 100%;
    left: 50%;
    content: attr(data-tooltip); // получаем контент из дата атрибута элемента tooltip
    padding: $bmu/2;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    color: $cWhite300;
    background-color: $cBlack500;
    animation: .2s ease-out tooltipAnimation;
  }

  &_top-left {
    &::after {
      top: auto;
      right: 50%;
      bottom: 100%;
      left: auto;
    }
  }
}

@keyframes tooltipAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
