@import '../_vars';

$wDesktop: 980px;
$wContent: 660px;
$hNav: 60px;
$hServicebar: 50px;
$hProfileBackground: 200px;

$navbarColors: $cMaltese500 $cHavelock500 $cCaprice500 $cCrimson200 $cCaribbean500;
